# .gitignore
# Thu muc cai dat thu vien (Bat buoc phai bo qua vi qua nang)
node_modules/
jspm_packages/

# Tep tin cau hinh bao mat (Chua mat khau database, tuyet doi khong len Git)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files cua he thong
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
outputs/

# Thu muc build/output (Neu sau nay ban dung TypeScript hoach build React)
dist/
build/

# Cac file rac cua he dieu hanh Windows/Mac
Thumbs.db
.DS_Store
